<form action="{{BASE}}{{process}}" method="post">
    <!--begin::Body-->
    <div class="card-body">
        <div class="mb-3">
            <label for="requirement" class="form-label">Requerimiento</label>
            <input type="text" name="name" value="{{requirement.name|default("")}}" class="form-control" id="requirement" aria-describedby="requirement" placeholder="Nombre del requerimiento" />
            <div id="requirement" class="form-text text-danger">
                Ingrese el nombre del requerimiento
            </div>
        </div>
        
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="card-footer">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="send" value="{{send}}">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{{BASE}}requirements/requirementsCourse/{{course}}" class="btn btn-primary">Volver</a>
    </div>
    <!--end::Footer-->
</form>