{% extends "layout/default/template.twig" %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-8">
                <div class="card-header">
                    <h1 class="fs-3">
                        {{subject}}
                    </h1>

                </div>
                <div class="card-body">
                    {% include "partials/_messages_admin.twig" %}
                    {% include "courses/_form.twig" %}

                </div>
            </div>
            <div class="col-md-4 py-3">
                <h1 class="mb-2 fs-4">Otras Opciones</h1>
                <div class="list-group">
                    <a href="{{BASE}}categories/create" class="list-group-item list-group-item-action list-group-item-primary" aria-current="true"  >
                        Agregar Categoría
                    </a>
                    <a href="{{BASE}}levels/create" class="list-group-item list-group-item-action list-group-item-primary">Agregar Nivel</a>
                    <a href="{{BASE}}prices/create" class="list-group-item list-group-item-action list-group-item-primary">Agregar Precio</a>
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
{% endblock %}