<form action="{{BASE}}{{process}}" method="post">
    <!--begin::Body-->
    <div class="card-body">
        <div class="mb-3">
            <label for="section" class="form-label">Sección</label>
            <input type="text" name="name" value="{{section.name|default("")}}" class="form-control" id="section" aria-describedby="section" placeholder="Nombre de la sección" />
            <div id="section" class="form-text text-danger">
                Ingrese el nombre de la sección
            </div>
        </div>
        
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="card-footer">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="send" value="{{send}}">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{{BASE}}sections/sectionsCourse/{{course}}" class="btn btn-primary">Volver</a>
    </div>
    <!--end::Footer-->
</form>