{% extends "layout/home/template.twig" %}
{% block title %}Bienvenidos{% endblock %}

{% block content %}
<style>
    .img-top {
        background-image: url('{{BASE}}views/layout/home/img/portada2.jpg');

    }
</style>
<section class="img-top bg-cover bg-center bg-contain h-[600px]">
    <div class="max-w-7xl mx-auto px-4 sm:px-6" style="padding-top: 19rem;">
        <div class="w-full md:w-3/4 lg:w-1/2">
            <h1 class="text-white font-bold text-4xl">Domina la tecnología con mi academia</h1>
            <p class="text-white text-lg mt-2 mb-4">Aquí encontrarás los mejores cursos para tu formación profesional
                para
                crezcas y tengas mucho trabajo</p>
            {% include "partials/_messages.twig" %}
            {% include "courses/_search_courses.twig" %}

        </div>
    </div>

</section>
<section class="mt-4">
    <h1 class="text-gray-600 text-center text-3xl mb-2">CONTENIDOS</h1>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6">
        <article>
            <figure>
                <img class="rounded-xl h-36 w-full object-cover" src="{{BASE}}views/layout/home/img/curso1.jpg" alt="">
            </figure>
            <header class="mt-2">
                <h1 class="text-center text-xl text-gray-700">Curso 1</h1>
            </header>
            <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, error
                soluta? Animi modi harum nesciunt commodi accusamus.</p>
        </article>
        <article>
            <figure>
                <img class="rounded-xl h-36 w-full object-cover" src="{{BASE}}views/layout/home/img/curso2.jpg" alt="">
            </figure>
            <header class="mt-2">
                <h1 class="text-center text-xl text-gray-700">Curso 2</h1>
            </header>
            <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, error
                soluta? Animi modi harum nesciunt commodi accusamus.</p>
        </article>
        <article>
            <figure>
                <img class="rounded-xl h-36 w-full object-cover" src="{{BASE}}views/layout/home/img/curso3.jpg" alt="">
            </figure>
            <header class="mt-2">
                <h1 class="text-center text-xl text-gray-700">Curso 3</h1>
            </header>
            <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, error
                soluta? Animi modi harum nesciunt commodi accusamus.</p>
        </article>
        <article>
            <figure>
                <img class="rounded-xl h-36 w-full object-cover" src="{{BASE}}views/layout/home/img/curso4.jpg" alt="">
            </figure>
            <header class="mt-2">
                <h1 class="text-center text-xl text-gray-700">Curso 4</h1>
            </header>
            <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, error
                soluta? Animi modi harum nesciunt commodi accusamus.</p>
        </article>
        <article>
            <figure>
                <img class="rounded-xl h-36 w-full object-cover" src="{{BASE}}views/layout/home/img/curso5.jpg" alt="">
            </figure>
            <header class="mt-2">
                <h1 class="text-center text-xl text-gray-700">Curso 5</h1>
            </header>
            <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, error
                soluta? Animi modi harum nesciunt commodi accusamus.</p>
        </article>
        <article>
            <figure>
                <img class="rounded-xl h-36 w-full object-cover" src="{{BASE}}views/layout/home/img/curso6.jpg" alt="">
            </figure>
            <header class="mt-2">
                <h1 class="text-center text-xl text-gray-700">Curso 6</h1>
            </header>
            <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, error
                soluta? Animi modi harum nesciunt commodi accusamus.</p>
        </article>
    </div>
</section>
<section class="mt-4 bg-gray-700 py-12">
    <h1 class="text-center text-white text-3xl ">¿No sabes que curso llevar?</h1>
    <p class="text-center text-white">Escoge uno de nuestros cursos en el catálogo</p>
    <div class="flex justify-center mt-4">
        <a href="{{BASE}}courses/courses"
            class="text-white bg-blue-700 box-border border border-transparent hover:bg-blue-600 focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-xs text-sm px-4 py-2.5 focus:outline-none">
            Catálogo de Cursos
        </a>
    </div>
</section>
<section class="my-4">
    <h1 class="text-center text-gray-600 text-3xl">ÚLTIMOS CURSOS</h1>
    <p class="text-center text-gray-500 text-sm mb-4">Revisa los últimos cursos publicados</p>


    <div class="max-w-7xl mx-auto px-4 sm:px-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        {% if courses is not empty %}
            {% include "courses/_courses_list.twig" %}
        {% else %}
            <p class="text-center text-gray-500 col-span-full">No hay cursos disponibles en este momento.</p>
        {% endif %}
        
        
    </div>

</section>
{% endblock %}