<form action="{{BASE}}{{process}}" method="post">
    <!--begin::Body-->
    <div class="card-body">
        <div class="mb-3">
            <label for="goal" class="form-label">Meta</label>
            <input type="text" name="name" value="{{goal.name|default("")}}" class="form-control" id="goal" aria-describedby="goal" placeholder="Nombre de la meta" />
            <div id="goal" class="form-text text-danger">
                Ingrese el nombre de la meta
            </div>
        </div>
        
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="card-footer">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="send" value="{{send}}">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{{BASE}}courses/show/{{course}}" class="btn btn-primary">Volver</a>
    </div>
    <!--end::Footer-->
</form>