{% extends "layout/default/template.twig" %}
{% block title %} {{title}} {% endblock %}

{% block content %}

<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="card mb-2">
            <div class="card-header">
                <h1 class="fs-3">
                    {{subject}}
                </h1>

            </div>
            <div class="card-body">
                {% include "partials/_messages_admin.twig" %}
                {% if permission is not empty %}
                <table class="table table-hover">
                    <tr>
                        <th>Id:</th>
                        <td> {{permission.id}} </td>
                    </tr>
                    <tr>
                        <th>Módulo:</th>
                        <td> {{permission.module.name}} </td>
                    </tr>
                    <tr>
                        <th>Role:</th>
                        <td> {{permission.role.name}} </td>
                    </tr>
                    <tr>
                        <th>Tarea:</th>
                        <td> {{permission.task.name}} </td>
                    </tr>
                    <tr>
                        <th>Creado:</th>
                        <td> {{permission.created_at|date("d-m-Y H:i:s")}} </td>
                    </tr>
                    <tr>
                        <th>Modificado:</th>
                        <td> {{permission.updated_at|date("d-m-Y H:i:s")}} </td>
                    </tr>
                </table>
                {% else %}
                <p class="text-secondary fs-4">No hay permiso disponible</p>
                {% endif %}

            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-auto">
                <a href="{{BASE}}permissions/permissionsModule/{{permission.module_id}}"
                    class="btn btn-primary">Volver</a>
            </div>
            <div class="col-auto">
                <form action="{{BASE}}{{process}}" method="post" onsubmit="return confirmDelete();" class="m-0">
                    <input type="hidden" name="module" value="{{permission.module_id}}">
                    <input type="hidden" name="permission" value="{{permission.id}}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="send" value="{{send}}">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
        <script>
            function confirmDelete() {
                return confirm("¿Estás seguro de eliminar este permiso?");
            }
        </script>
    </div>
    <!--end::Container-->
</div>

{% endblock %}