{% extends "layout/home/template.twig" %}
{% block title %}{{titulo}} {% endblock %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="{{BASE}}"><b>Mi</b>Curso</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Debe iniciar sesión para continuar</p>
            {% include "partials/_messages.twig" %}
            <form action="{{BASE}}{{process}}" method="post">
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email" />
                    <div class="input-group-text"><span class="bi bi-envelope"></span></div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password" />
                    <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
                </div>
                <!--begin::Row-->
                <div class="row">
                    <!-- /.col -->
                    <div class="col-4">
                        <div class="d-grid gap-2">
                            <input type="hidden" name="send" value="{{send}}" />
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!--end::Row-->
            </form>
            
            <p class="my-2"><a href="#">¿Olvidó su password?</a></p>
            <p class="mb-0">
                <a href="#" class="text-center">Regístrese </a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>

</div>
{% endblock %}