<form action="{{BASE}}{{process}}" method="post">
    <!--begin::Body-->
    <div class="card-body">
        <div class="mb-3">
            <label for="audience" class="form-label">Audiencia</label>
            <input type="text" name="name" value="{{audience.name|default("")}}" class="form-control" id="audience" aria-describedby="audience" placeholder="Nombre de la sección" />
            <div id="audience" class="form-text text-danger">
                Ingrese el nombre de la audiencia
            </div>
        </div>
        
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="card-footer">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="send" value="{{send}}">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{{BASE}}audiences/audiencesCourse/{{course}}" class="btn btn-primary">Volver</a>
    </div>
    <!--end::Footer-->
</form>